{% extends "lms/layouts/v1_base.html" %}

{% block body_attrs %} class="gray" data-init-sections="selectpickers"{% endblock body_attrs %}

{% block content %}
  <div class="container">
    {{ crispy(filter_form) }}
    
    <script>
      (function() {
        // Restore saved filters and hook into form submission
        
        // 1. Restore filter values on page load
        var savedFilters = {{ saved_filters | tojson }};
        if (savedFilters && Object.keys(savedFilters).length > 0) {
          for (var key in savedFilters) {
            if (!savedFilters.hasOwnProperty(key)) continue;
            
            var elements = jQuery('[name="' + key + '"]');
            if (elements.length === 0) continue;
            
            var values = Array.isArray(savedFilters[key]) ? savedFilters[key] : [savedFilters[key]];
            
            elements.each(function() {
              var el = jQuery(this);
              if (el.attr('type') === 'checkbox') {
                var isChecked = values.indexOf(el.val()) !== -1;
                el.prop('checked', isChecked).closest('label').toggleClass('active', isChecked);
              } else if (el.is('select')) {
                el.val(values.length === 1 ? values[0] : values);
              }
              el.trigger('change');
            });
          }
        }
        
        // 2. Hook into Apply button to save filters
        var form = jQuery('[name="apply"]').closest('form');
        if (form.length === 0) return;
        
        form.on('submit', function(e) {
          e.preventDefault();
          
          var postData = form.serializeArray();
          var csrfToken = jQuery('[name="csrfmiddlewaretoken"]').val();
          postData.push({name: 'csrfmiddlewaretoken', value: csrfToken});
          
          var queryParams = new URLSearchParams();
          jQuery.each(postData, function(i, field) {
            if (field.name !== 'csrfmiddlewaretoken' && field.name !== 'apply') {
              queryParams.append(field.name, field.value);
            }
          });
          
          jQuery.ajax({
            url: '{{ url("study:save_assignment_filters") }}',
            method: 'POST',
            data: jQuery.param(postData),
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded',
            success: function() {
              window.location.href = window.location.pathname + '?' + queryParams.toString();
            },
            error: function() {
              form.off('submit').submit();
            }
          });
        });
      })();
    </script>
    
    {% if not assignment_list_open and not assignment_list_archive %}
      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 center-aligned">
          <h4>{% trans %}No assignments yet{% endtrans %}</h4>
        </div>
        <div class="col-xs-3">
        </div>
      </div>
    {% endif %}
    {% if assignment_list_open %}
      <div class="row">
        <div class="col-xs-12">
          <h3>{% trans %}Open assignments{% endtrans %}</h3>
          <table class="table" width="100%">
            <thead>
            <th width="15%">{% trans %}Deadline{% endtrans %}</th>
            <th></th>
            <th width="20%">{% trans %}Course{% endtrans %}</th>
            <th width="17%">{% trans %}State{% endtrans %}</th>
            <th width="15%">{% trans %}Assignment Format{% endtrans %}</th>
            </thead>
            {% for a_s in assignment_list_open %}
              {% set can_view = request.user.has_perm(ViewOwnStudentAssignment.name, a_s) %}
              <tr class="{{ "unread" if can_view and a_s.has_unread() else "noop" }}">
                <td>
                  {% set assignment_deadline_at_local = a_s.assignment.deadline_at_local(tz_override) %}
                  <div class="assignment-date {{ assignment_deadline_at_local|date_soon_css() }}">
                    <span class="nowrap">
                      {{ assignment_deadline_at_local|naturalday("d E Y") }}
                    </span><br>
                    {{ assignment_deadline_at_local|time("H:i") }}
                  </div>
                </td>
                <td>
                  {% if can_view %}
                    <a href="{{ a_s.get_student_url() }}">
                      {{ a_s.assignment.title }}
                    </a>
                  {% else %}
                    <span>{{ a_s.assignment.title }}</span><br/>
                    {% if not a_s.assignment.open_date_passed %}
                      {% with opens_at = a_s.assignment.opens_at_local(tz_override) %}
                        <span class="nowrap opens-at-text">Available {{ opens_at|naturalday("d E Y") }} {{ opens_at|time("H:i") }}</span>
                      {% endwith %}
                    {% endif %}
                  {% endif %}
                </td>
                <td>
                  <a href="{{ a_s.assignment.course.get_absolute_url() }}">
                    {{ a_s.assignment.course.meta_course.name }}
                  </a>
                </td>
                <td>
            <span style="white-space: nowrap;"
                  class="badge assignment-status {{ a_s.status_css_class }}">
              {{ a_s.state_display }}
            </span>
                </td>
                <td>
                  {{ a_s.assignment.get_submission_type_display() }}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endif %}


    {% if assignment_list_archive %}
      <div class="row">
        <div class="col-xs-12">
          <h3>{% trans %}Archive{% endtrans %}</h3>
          <table class="table" width="100%">
            <thead>
            <th width="15%">{% trans %}Deadline{% endtrans %}</th>
            <th></th>
            <th width="20%">{% trans %}Course{% endtrans %}</th>
            <th width="17%">{% trans %}State{% endtrans %}</th>
            <th width="15%">{% trans %}Assignment Format{% endtrans %}</th>
            </thead>
            {% for a_s in assignment_list_archive %}
              {% set can_view = request.user.has_perm(ViewOwnStudentAssignment.name, a_s) %}
              <tr class="{{ "unread" if can_view and a_s.has_unread() else "noop" }}">
                <td>
                  <div class="assignment-date">
                    {%  with assignment_deadline_at_local = a_s.assignment.deadline_at_local(tz_override) %}
                      <span class="nowrap">{{ assignment_deadline_at_local|naturalday("d E Y") }}</span><br>
                      {{ assignment_deadline_at_local|time("H:i") }}
                    {% endwith %}
                  </div>
                </td>
                <td>
                  {% if can_view %}
                    <a href="{{ a_s.get_student_url() }}">
                      {{ a_s.assignment.title }}
                    </a>
                  {% else %}
                    <span>{{ a_s.assignment.title }}</span><br/>
                    {% if not a_s.assignment.open_date_passed %}
                      {% with opens_at = a_s.assignment.opens_at_local(tz_override) %}
                        <span class="nowrap opens-at-text">Available {{ opens_at|naturalday("d E Y") }} {{ opens_at|time("H:i") }}</span>
                      {% endwith %}
                    {% endif %}
                  {% endif %}
                </td>
                <td>
                  <a href="{{ a_s.assignment.course.get_absolute_url() }}">
                    {{ a_s.assignment.course.meta_course.name }}
                  </a>
                </td>
                <td>
            <span style="white-space: nowrap;"
                  class="badge assignment-status {{ a_s.status_css_class }}">
              {{ a_s.state_display }}
            </span>
                </td>
                <td>
                  {{ a_s.assignment.get_submission_type_display() }}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content %}
